<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Medicine Prescription Demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Hello World! Welcome to Vivek's Medicine Prescription DEMO.</h1>


	<br>
	<br>
	<p>
		<b>Please Enter 10 digit Phone number of Patient to see
			prescriptions list.</b>
	</p>
	<form th:action="@{/view/prescriptions}">
		<input type="text" name="phone" /><br> <input type="submit"
			value="Show Prescriptions List">
	</form>

<div th:if="${personPresc?.prescribed_medicines}"> 
<fieldset>
	<table>
	<thead>
	<tr>
	<th>Person Name:</th>
	<th>Phone Number:</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	<td><input th:value="${personPresc.name}" readonly></td>
	<td><input th:value="${personPresc.phone}" readonly></td>
	</tr>
	</tbody>
	</table>
	</fieldset>
	
	<fieldset>
	<table>
	<thead>
	<tr>
						<th>Sr. No.</th>
						<th>Dosage Amount</th>
						<th>Timings Note</th>
						<th>Name</th>
						<th>Manufactured By</th>
						<th>Marketed By</th>
						<th>Chemical Composition</th>
						<th>Any Other Note</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="med, itemStat : ${personPresc.prescribed_medicines}">
						<td><input th:value="${itemStat.count}" readonly></td>

						<td><input th:value="${med.dosage_amount}"></td>

						<td><input th:value="${med.timings}"></td>

						<td><input th:value="${med.md.name}"></td>

						<td><input th:value="${med.md.mfg_By}"></td>

						<td><input th:value="${med.md.mktd_By}"></td>

						<td><input th:value="${med.md.chemicals}"></td>

						<td><input th:value="${med.md.any_other_note}"></td>
					
	</tr>
	
	</tbody>
	</table>
	</fieldset>
</div>

	<br>
	<br>
	
	
	
<div th:if="${person?.prescribed_medicines}">
	<p><b>Prescribe Medicines to patient:</b></p>
	
	<form action="#" th:action="@{/view/add/}" th:object="${person}" 
		method="post">

		<p>
			Patient Name:<input type="text" th:field="*{name}"> Phone:<input
				type="text" th:field="*{phone}">
		</p>

		<fieldset>
			<b> Medicine:</b><br>
			<table>
				<thead>
					<tr>
						<th>Sr. No.</th>
						<th>Dosage Amount</th>
						<th>Timings Note</th>
						<th>Name</th>
						<th>Manufactured By</th>
						<th>Marketed By</th>
						<th>Chemical Composition</th>
						<th>Any Other Note</th>
						<th><input type="submit"
							th:formaction="@{/deletePrescribedMedicineRow}" th:value="remove">
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="med, itemStat : ${person.prescribed_medicines}">
						<td th:text="${itemStat.count}"></td>

						<td><input type="number" th:value="${med.dosage_amount}"
							th:field="*{prescribed_medicines[__${itemStat.index}__].dosage_amount}">
						</td>

						<td><input type="text" th:value="${med.timings}"
							th:field="*{prescribed_medicines[__${itemStat.index}__].timings}">
						</td>

						<td><input type="text" th:value="${med.md.name}"
							th:field="*{prescribed_medicines[__${itemStat.index}__].md.name}">
						</td>

						<td><input type="text" th:value="${med.md.mfg_By}"
							th:field="*{prescribed_medicines[__${itemStat.index}__].md.mfg_By}"></td>

						<td><input type="text" th:value="${med.md.mktd_By}"
							th:field="*{prescribed_medicines[__${itemStat.index}__].md.mktd_By}"></td>

						<td><input type="text" th:value="${med.md.chemicals}"
							th:field="*{prescribed_medicines[__${itemStat.index}__].md.chemicals}">
						</td>

						<td><input type="text" th:value="${med.md.any_other_note}"
							th:field="*{prescribed_medicines[__${itemStat.index}__].md.any_other_note}">
						</td>

						<td><input type="radio" th:id="${itemStat.index}"
							name="delete" th:value="${itemStat.index}"></td>
					</tr>
				</tbody>
			</table>
			<p>
				<input type="submit" th:value="Add_Another_Medicine"
					th:formaction="@{/addPrescribedMedicineRow}"> <input
					type="submit" th:value="SUBMIT">
			</p>
		</fieldset>

	</form>
</div>
</body>
</html>
