<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Medicine Prescription Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Hello World! Welcome to Vivek's Medicine Prescription DEMO.</h1>


  
  <form action="/add/" 	method="post">
  
  <p>Name:<input type="text" name="name"> 
  Phone:<input type="text" name="phone"></p>
 <br>
  <p><b> Medicine 1:</b><br> 
  		dose<input type="number" name="prescribed_medicines[0].dosage_amount" value="-1">
  		timings<input type="text" name="prescribed_medicines[0].timings">
  </p>
  <p> name<input type="text" name="prescribed_medicines[0].md.name">
  	  mfg_by<input type="text" name="prescribed_medicines[0].md.mfg_By">
   </p>
   <p>
   	  mktd_by<input type="text" name="prescribed_medicines[0].md.mktd_By">
  	  chemicals<input type="text" name="prescribed_medicines[0].md.chemicals">
   </p>
   	  NOTE<input type="text" name="prescribed_medicines[0].md.any_other_note">
  
    
   <br>
  <p><b> Medicine 2:</b><br> 
  		dose<input type="number" name="prescribed_medicines[1].dosage_amount" value="-1">
  		timings<input type="text" name="prescribed_medicines[1].timings" value="morning">
  </p>
  <p> name<input type="text" name="prescribed_medicines[1].md.name" value="defaultValue">
  	  mfg_by<input type="text" name="prescribed_medicines[1].md.mfg_By" value="Vivek M.">
   </p>
   <p>
   	  mktd_by<input type="text" name="prescribed_medicines[1].md.mktd_By" value="Vendor1">
  	  chemicals<input type="text" name="prescribed_medicines[1].md.chemicals" value="chemical1">
   </p>
   	  NOTE<input type="text" name="prescribed_medicines[1].md.any_other_note">
  
  
   <br>
  <p><b> Medicine 3:</b><br> 
  		dose<input type="number" name="prescribed_medicines[2].dosage_amount" value="-1">
  		timings<input type="text" name="prescribed_medicines[2].timings" value="Default 2">
  </p>
  <p> name<input type="text" name="prescribed_medicines[2].md.name" value="Default 2">
  	  mfg_by<input type="text" name="prescribed_medicines[2].md.mfg_By" value="Default 2">
   </p>
   <p>
   	  mktd_by<input type="text" name="prescribed_medicines[2].md.mktd_By" value="Default 2">
  	  chemicals<input type="text" name="prescribed_medicines[2].md.chemicals" value="Default 2">
   </p>
   	  NOTE<input type="text" name="prescribed_medicines[2].md.any_other_note" value="Default 2">
  
  
   <br>
  <p><b> Medicine 4:</b><br> 
  		dose<input type="number" name="prescribed_medicines[3].dosage_amount" value="-1">
  		timings<input type="text" name="prescribed_medicines[3].timings" value="Default 3">
  </p>
  <p> name<input type="text" name="prescribed_medicines[3].md.name" value="Default 3">
  	  mfg_by<input type="text" name="prescribed_medicines[3].md.mfg_By" value="Default 3">
   </p>
   <p>
   	  mktd_by<input type="text" name="prescribed_medicines[3].md.mktd_By" value="Default 3">
  	  chemicals<input type="text" name="prescribed_medicines[3].md.chemicals" value="Default 3">
   </p>
   	  NOTE<input type="text" name="prescribed_medicines[3].md.any_other_note" value="Default 3">
  
  
  
  
  
  <p><input type="submit" value="SUBMIT" ></p>
  
  </form>
  



<br><br>
<p><b>Please Enter 10 digit Phone number of Patient to see prescriptions list.</b></p>
<form th:action="@{/prescriptions}">
<input type="text" name="phone"/><br>
<input type="submit" value="Show Prescriptions List">
</form>



</body>
</html>
